
    .content {
       text-align: center;
        
             
        .botao {
            margin: 20px;
            padding: 20px;
            background: rgb(230, 230, 230);
            border-radius: 6px;
            box-shadow: 2px 2px 2px black;
            
        }
    
        .botao:hover {
            background-color: rgb(85, 87, 90);
        }

        
        
    
    }
    





